.button-group {
    text-align: center;
    padding-top: 10px;
}

.message-container {
    text-align: center;
    padding-top: 10px;
}

#my-message {
    width: 800px;
    height: 50px;
    overflow: scroll;
}

#recipient-username {
    width: 100px; 
    height: 20px;
}